<!doctype html>
<html>
<head>
<title>Puppet Box!</title>
<script>
var ROOM = "<%- room %>"
var ITEMS = JSON.parse('<%- items %>')
</script>
<link rel="stylesheet" href="/library/reset.css">
<link rel="stylesheet" href="/library/basic.css">
<link rel="stylesheet" href="/style.css">
<script src="/socket/faye.js"></script>
<script src="/library/standard/upload.js"></script>
<script src="/library/standard/js.js"></script>
<script src="/library/standard/react.js"></script>
<script src="/library/standard/jquery-latest.js"></script>
<script src="/library/standard/guid.js"></script>
<script src="/library/standard/jquery-ui.js"></script>
<script src="/library/standard/underscore.js"></script>
<script src="/library/standard/vector.js"></script>
<script src="/library/standard/mouse.js"></script>
<script src="/library/standard/jquery.paste_image_reader.js"></script>
<script src="/stuff.js"></script>
</head>
<body>
<div id="play_area"></div>
<nav id="side_panel">
    <div id="inspector" react="showIf current_item">
        <h1>Image</h1>
        <span react="contain current_item.id"></span>
        <img id="current_image" react="attr 'src' current_item.source">
        <button id="delete">Delete</button>
        <button id="clone">Clone</button>
    </div>
</nav>
</body>
</html>
