<!doctype html>
<html>
<head>
<title>Puppet Box!</title>
<script>
ROOM = "<%= room %>"
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="library/standard/jquery-latest.js"></script>
<script src="library/standard/guid.js"></script>
<script src="library/standard/jquery-ui.js"></script>
<script src="library/standard/underscore.js"></script>
<script src="library/standard/vector.js"></script>
<script src="library/standard/mouse.js"></script>
<script src="library/standard/jquery.paste_image_reader.js"></script>
<script src="stuff.js"></script>
</head>
<body>
</body>
</html>
